.elzIcon {
    position: relative;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items:     center;
    box-sizing: border-box;
    text-decoration: none;
}

.elzIcon.link { cursor: pointer; }

.elzIcon.link:active { opacity: 0.7; }

.elzIcon.rad    { border-radius:  2px; }
.elzIcon.circle { border-radius: 100%; }





/* Link hovers */

.elzIcon:before {
    content: "";
    position: absolute;
    display: none;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    border-radius: inherit;
    pointer-events: none;
}

.elzIcon.icLink { cursor: pointer; }

.elzIcon.icLink:hover:before,  .elzIcotext.link:hover  > .elzIcon:before, .icLinkHover:hover  .elzIcon:before,
.elzIcon.icLink:active:before, .elzIcotext.link:active > .elzIcon:before, .icLinkHover:active .elzIcon:before { display: block; }

.elzIcon:before,
.elzIcon.hovLight:before {
    background-color: #ffffff;
    opacity: 0.1;
}

.elzIcon.hovDark:before  {
    background-color: #000000;
    opacity: 0.1;
}

/* end */










/* Transform */

.elzIc:before {
    position: relative;
    display: inline-block;
    transform-origin: 50% 50%;
}

.elzIc.scH:before  { transform: scale(-1,  1); }
.elzIc.scV:before  { transform: scale(1,  -1); }
.elzIc.scVH:before { transform: scale(-1, -1); }

.elzIc.deg90:before  { transform: rotate(90deg); }
.elzIc.deg180:before { transform: rotate(180deg); }
.elzIc.deg270:before { transform: rotate(270deg); }

.elzIc.scH.deg90:before  { transform: scale(-1, 1) rotate(90deg); }
.elzIc.scH.deg180:before { transform: scale(-1, 1) rotate(180deg); }
.elzIc.scH.deg270:before { transform: scale(-1, 1) rotate(270deg); }

.elzIc.scV.deg90:before  { transform: scale(1, -1) rotate(90deg); }
.elzIc.scV.deg180:before { transform: scale(1, -1) rotate(180deg); }
.elzIc.scV.deg270:before { transform: scale(1, -1) rotate(270deg); }

.elzIc.scHV.deg90:before  { transform: scale(-1, -1) rotate(90deg); }
.elzIc.scHV.deg180:before { transform: scale(-1, -1) rotate(180deg); }
.elzIc.scHV.deg270:before { transform: scale(-1, -1) rotate(270deg); }

/* end */










/* Shadows */

.elxIc.shN { text-shadow: none; }

/* Main */

.elzIcon > .main {
    position: relative;
    display: block;
    max-width:  100%;
    max-height: 100%;

}

.elzIcon .main.shD:before,
.elzIcon .main.shD.scHV:before,
.elzIcon .main.shD.scH.deg90:before,
.elzIcon .main.shD.scV.deg270:before,
.elzIcon .main.shD.scHV.deg180:before { text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4); }

.elzIcon .main.shD.scV:before,
.elzIcon .main.shD.deg90:before,
.elzIcon .main.shD.scH.deg180:before,
.elzIcon .main.shD.scHV.deg270:before { text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.4); }

.elzIcon .main.shD.deg180:before,
.elzIcon .main.shD.scH.deg270:before,
.elzIcon .main.shD.scV.deg90:before { text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4); }

.elzIcon .main.shD.scH:before,
.elzIcon .main.shD.deg270:before,
.elzIcon .main.shD.scV.deg180:before,
.elzIcon .main.shD.scHV.deg90:before { text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.4); }



.elzIcon .main.shL:before,
.elzIcon .main.shL.scHV:before,
.elzIcon .main.shL.scH.deg90:before,
.elzIcon .main.shL.scV.deg270:before,
.elzIcon .main.shL.scHV.deg180:before { text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4); }

.elzIcon .main.shL.scV:before,
.elzIcon .main.shL.deg90:before,
.elzIcon .main.shL.scH.deg180:before,
.elzIcon .main.shL.scHV.deg270:before { text-shadow: 1px -1px 2px rgba(255, 255, 255, 0.4); }

.elzIcon .main.shL.deg180:before,
.elzIcon .main.shL.scH.deg270:before,
.elzIcon .main.shL.scV.deg90:before { text-shadow: -1px -1px 2px rgba(255, 255, 255, 0.4); }

.elzIcon .main.shL.scH:before,
.elzIcon .main.shL.deg270:before,
.elzIcon .main.shL.scV.deg180:before,
.elzIcon .main.shL.scHV.deg90:before { text-shadow: -1px 1px 2px rgba(255, 255, 255, 0.4); }




/* Gspot */

.elzIcon .gspot.shD:before,
.elzIcon .gspot.shD.scH:before,
.elzIcon .gspot.shD.scV.deg180:before,
.elzIcon .gspot.shD.scHV.deg180:before { text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }

.elzIcon .gspot.shD.scV:before,
.elzIcon .gspot.shD.scVH:before,
.elzIcon .gspot.shD.deg180:before,
.elzIcon .gspot.shD.scH.deg180:before { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }

.elzIcon .gspot.shD.deg270:before,
.elzIcon .gspot.shD.scH.deg270:before,
.elzIcon .gspot.shD.scV.deg90:before,
.elzIcon .gspot.shD.scHV.deg90:before { text-shadow: -1px 0 0 rgba(0, 0, 0, 0.25); }

.elzIcon .gspot.shD.deg90:before,
.elzIcon .gspot.shD.scH.deg90:before,
.elzIcon .gspot.shD.scV.deg270:before,
.elzIcon .gspot.shD.scHV.deg270:before { text-shadow: 1px 0 0 rgba(0, 0, 0, 0.25); }

.elzIcon .gspot.shD:not(:empty) { text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75); }



.elzIcon .gspot.shL:before,
.elzIcon .gspot.shL.scH:before,
.elzIcon .gspot.shL.scV.deg180:before,
.elzIcon .gspot.shL.scHV.deg180:before { text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25); }

.elzIcon .gspot.shL.scV:before,
.elzIcon .gspot.shL.scVH:before,
.elzIcon .gspot.shL.deg180:before,
.elzIcon .gspot.shL.scH.deg180:before { text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25); }

.elzIcon .gspot.shL.deg270:before,
.elzIcon .gspot.shL.scH.deg270:before,
.elzIcon .gspot.shL.scV.deg90:before,
.elzIcon .gspot.shL.scHV.deg90:before { text-shadow: -1px 0 0 rgba(255, 255, 255, 0.25); }

.elzIcon .gspot.shL.deg90:before,
.elzIcon .gspot.shL.scH.deg90:before,
.elzIcon .gspot.shL.scV.deg270:before,
.elzIcon .gspot.shL.scHV.deg270:before { text-shadow: 1px 0 0 rgba(255, 255, 255, 0.25); }

.elzIcon .gspot.shL:not(:empty) { text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25); }

/* end */










/* Size default */

.elzIcon.xsmallest, .elzIcon > .main.xsmallest { width:  8px; height:  8px; } .elzIcon > .main.xsmallest { font-size:  8px; line-height:  8px; }
.elzIcon.xsmaller,  .elzIcon > .main.xsmaller  { width: 10px; height: 10px; } .elzIcon > .main.xsmaller  { font-size: 10px; line-height: 10px; }
.elzIcon.xsmall,    .elzIcon > .main.xsmall    { width: 12px; height: 12px; } .elzIcon > .main.xsmall    { font-size: 12px; line-height: 12px; }

.elzIcon.smallest, .elzIcon > .main.smallest   { width: 16px; height: 16px; } .elzIcon > .main.smallest  { font-size: 16px; line-height: 16px; }
.elzIcon.smaller,  .elzIcon > .main.smaller    { width: 18px; height: 18px; } .elzIcon > .main.smaller   { font-size: 18px; line-height: 18px; }
.elzIcon.small,    .elzIcon > .main.small      { width: 20px; height: 20px; } .elzIcon > .main.small     { font-size: 20px; line-height: 20px; }

.elzIcon.medium,   .elzIcon > .main.medium     { width: 24px; height: 24px; } .elzIcon > .main.medium    { font-size: 24px; line-height: 24px; }

.elzIcon.large,    .elzIcon > .main.large      { width: 28px; height: 28px; } .elzIcon > .main.large     { font-size: 28px; line-height: 28px; }
.elzIcon.larger,   .elzIcon > .main.larger     { width: 32px; height: 32px; } .elzIcon > .main.larger    { font-size: 32px; line-height: 32px; }
.elzIcon.largest,  .elzIcon > .main.largest    { width: 36px; height: 36px; } .elzIcon > .main.largest   { font-size: 36px; line-height: 36px; }

.elzIcon.xlarge,    .elzIcon > .main.xlarge    { width: 48px; height: 48px; } .elzIcon > .main.xlarge    { font-size: 48px; line-height: 48px; }
.elzIcon.xlarger,   .elzIcon > .main.xlarger   { width: 64px; height: 64px; } .elzIcon > .main.xlarger   { font-size: 64px; line-height: 64px; }
.elzIcon.xlargest,  .elzIcon > .main.xlargest  { width: 72px; height: 72px; } .elzIcon > .main.xlargest  { font-size: 72px; line-height: 72px; }

.elzIcon > .main.smallest > .gspot,
.elzIcon > .main.smaller  > .gspot,
.elzIcon > .main.small    > .gspot {
    font-size: 8px;
    padding:   2px;
    right:    -3px;
    bottom:   -3px;
}

/* end */










/* GSPOT */

.elzIcon .gspot {
	position: absolute;
	display: block;
	text-align: center;
    width: auto;
	min-width:  1em;
    min-height: 1em;
	border-radius: 100%;
}

.elzIcon .gspot:not(:empty) {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	line-height: 1;
    font-family: Tahoma, Geneva, sans-serif !important;
    border-radius: 3px;
}

/* Firefox fix */

@media screen and (min--moz-device-pixel-ratio: 0) {
    .elzIcon .gspot:not(:empty) { line-height: 0.98; }
}

.elzIcon .gspot:not([data-bg]),
.elzIcon .gspot:not(:empty):before { display: none; }

.elzIcon .gspot.hover {
	opacity: 0;
	visibility: hidden;
	transition: 0.2s;
}

.elzIcon:hover   .gspot.hover,
.elzIcon:active  .gspot.hover,
.icgHover:hover  .elzIcon .gspot.hover,
.icgHover:active .elzIcon .gspot.hover {
    opacity: 1;
    visibility: visible;
}










/* Images */

.elzIcon > .main.image {
    border-radius: inherit;
    font-size: 0;
    text-align: center;
}

.elzIcon img {
    display: inline-block;
    width:  auto;
    height: auto;
    margin: auto;
    max-width:  100%;
    max-height: 100%;
    vertical-align: middle;
}

.elzIcon > .main.image.fill {
    overflow: hidden;
    width:  100%;
    height: 100%;
}

/* end */









/* Icons hover */

                 .elzIcon            > .main:last-child:not(:first-child),
.icHover:hover   .elzIcon.hov        > .main:first-child:not(:last-child),
.icHover:active  .elzIcon.hov        > .main:first-child:not(:last-child),
.icActive.active .elzIcon.act        > .main:first-child:not(:last-child),
                 .elzIcon.hov:hover  > .main:first-child:not(:last-child),
                 .elzIcon.hov:active > .main:first-child:not(:last-child),
                 .elzIcon.act.active > .main:first-child:not(:last-child) { display: none; }

                 .elzIcon            > .main:first-child:not(:last-child),
.icHover:hover   .elzIcon.hov        > .main:last-child:not(:first-child),
.icHover:active  .elzIcon.hov        > .main:last-child:not(:first-child),
.icActive.active .elzIcon.act        > .main:last-child:not(:first-child),
                 .elzIcon.hov:hover  > .main:last-child:not(:first-child),
                 .elzIcon.hov:active > .main:last-child:not(:first-child),
                 .elzIcon.act.active > .main:last-child:not(:first-child) { display: block; }

/* end */










/* Icons animation ***************************/

.elzIcon.loader,
.elzIc.loader {
	-webkit-animation: elzIcLoader 0.8s infinite linear;
	-moz-animation:    elzIcLoader 0.8s infinite linear;
	-o-animation:      elzIcLoader 0.8s infinite linear;
	animation:         elzIcLoader 0.8s infinite linear;
}

@-webkit-keyframes elzIcLoader { to { -webkit-transform: rotate(360deg); } }
@-moz-keyframes    elzIcLoader { to { -moz-transform:    rotate(360deg); } }
@-ms-keyframes     elzIcLoader { to { -ms-transform:     rotate(360deg); } }
@-o-keyframes      elzIcLoader { to { -o-transform:      rotate(360deg); } }
@keyframes         elzIcLoader { to { transform:         rotate(360deg); } }