.elzPLT[data-tx="ps-opacity-light"] { background-image: url("../images/textures/ps-opacity-light.svg"); background-size: 16px 16px; }
.elzPLT[data-tx="ps-opacity-dark"] { background-image: url("../images/textures/ps-opacity-dark.svg"); background-size: 16px 16px; }
.elzPLT[data-tx="3px-tile"] { background-image: url("../images/textures/3px-tile.png"); }
.elzPLT[data-tx="45-degree-fabric-dark"] { background-image: url("../images/textures/45-degree-fabric-dark.png"); }
.elzPLT[data-tx="45-degree-fabric-light"] { background-image: url("../images/textures/45-degree-fabric-light.png"); }
.elzPLT[data-tx="60-lines"] { background-image: url("../images/textures/60-lines.png"); }
.elzPLT[data-tx="absurdity"] { background-image: url("../images/textures/absurdity.png"); }
.elzPLT[data-tx="ag-square"] { background-image: url("../images/textures/ag-square.png"); }
.elzPLT[data-tx="always-grey"] { background-image: url("../images/textures/always-grey.png"); }
.elzPLT[data-tx="arabesque"] { background-image: url("../images/textures/arabesque.png"); }
.elzPLT[data-tx="arches"] { background-image: url("../images/textures/arches.png"); }
.elzPLT[data-tx="argyle"] { background-image: url("../images/textures/argyle.png"); }
.elzPLT[data-tx="asfalt-dark"] { background-image: url("../images/textures/asfalt-dark.png"); }
.elzPLT[data-tx="asfalt-light"] { background-image: url("../images/textures/asfalt-light.png"); }
.elzPLT[data-tx="assault"] { background-image: url("../images/textures/assault.png"); }
.elzPLT[data-tx="axiom-pattern"] { background-image: url("../images/textures/axiom-pattern.png"); }
.elzPLT[data-tx="az-subtle"] { background-image: url("../images/textures/az-subtle.png"); }
.elzPLT[data-tx="back-pattern"] { background-image: url("../images/textures/back-pattern.png"); }
.elzPLT[data-tx="basketball"] { background-image: url("../images/textures/basketball.png"); }
.elzPLT[data-tx="batthern"] { background-image: url("../images/textures/batthern.png"); }
.elzPLT[data-tx="bedge-grunge"] { background-image: url("../images/textures/bedge-grunge.png"); }
.elzPLT[data-tx="beige-paper"] { background-image: url("../images/textures/beige-paper.png"); }
.elzPLT[data-tx="billie-holiday"] { background-image: url("../images/textures/billie-holiday.png"); }
.elzPLT[data-tx="binding-dark"] { background-image: url("../images/textures/binding-dark.png"); }
.elzPLT[data-tx="binding-light"] { background-image: url("../images/textures/binding-light.png"); }
.elzPLT[data-tx="black-felt"] { background-image: url("../images/textures/black-felt.png"); }
.elzPLT[data-tx="black-linen-2"] { background-image: url("../images/textures/black-linen-2.png"); }
.elzPLT[data-tx="black-linen"] { background-image: url("../images/textures/black-linen.png"); }
.elzPLT[data-tx="black-lozenge"] { background-image: url("../images/textures/black-lozenge.png"); }
.elzPLT[data-tx="black-mamba"] { background-image: url("../images/textures/black-mamba.png"); }
.elzPLT[data-tx="black-orchid"] { background-image: url("../images/textures/black-orchid.png"); }
.elzPLT[data-tx="black-paper"] { background-image: url("../images/textures/black-paper.png"); }
.elzPLT[data-tx="black-scales"] { background-image: url("../images/textures/black-scales.png"); }
.elzPLT[data-tx="black-thread-light"] { background-image: url("../images/textures/black-thread-light.png"); }
.elzPLT[data-tx="black-thread"] { background-image: url("../images/textures/black-thread.png"); }
.elzPLT[data-tx="black-twill"] { background-image: url("../images/textures/black-twill.png"); }
.elzPLT[data-tx="blizzard"] { background-image: url("../images/textures/blizzard.png"); }
.elzPLT[data-tx="blu-stripes"] { background-image: url("../images/textures/blu-stripes.png"); }
.elzPLT[data-tx="bo-play"] { background-image: url("../images/textures/bo-play.png"); }
.elzPLT[data-tx="brick-wall-dark"] { background-image: url("../images/textures/brick-wall-dark.png"); }
.elzPLT[data-tx="brick-wall"] { background-image: url("../images/textures/brick-wall.png"); }
.elzPLT[data-tx="bright-squares"] { background-image: url("../images/textures/bright-squares.png"); }
.elzPLT[data-tx="brilliant"] { background-image: url("../images/textures/brilliant.png"); }
.elzPLT[data-tx="broken-noise"] { background-image: url("../images/textures/broken-noise.png"); }
.elzPLT[data-tx="brushed-alum-dark"] { background-image: url("../images/textures/brushed-alum-dark.png"); }
.elzPLT[data-tx="brushed-alum"] { background-image: url("../images/textures/brushed-alum.png"); }
.elzPLT[data-tx="buried"] { background-image: url("../images/textures/buried.png"); }
.elzPLT[data-tx="candyhole"] { background-image: url("../images/textures/candyhole.png"); }
.elzPLT[data-tx="carbon-fibre-big"] { background-image: url("../images/textures/carbon-fibre-big.png"); }
.elzPLT[data-tx="carbon-fibre-v2"] { background-image: url("../images/textures/carbon-fibre-v2.png"); }
.elzPLT[data-tx="carbon-fibre"] { background-image: url("../images/textures/carbon-fibre.png"); }
.elzPLT[data-tx="cardboard-flat"] { background-image: url("../images/textures/cardboard-flat.png"); }
.elzPLT[data-tx="cardboard"] { background-image: url("../images/textures/cardboard.png"); }
.elzPLT[data-tx="cartographer"] { background-image: url("../images/textures/cartographer.png"); }
.elzPLT[data-tx="checkered-light-emboss"] { background-image: url("../images/textures/checkered-light-emboss.png"); }
.elzPLT[data-tx="checkered-pattern"] { background-image: url("../images/textures/checkered-pattern.png"); }
.elzPLT[data-tx="church"] { background-image: url("../images/textures/church.png"); }
.elzPLT[data-tx="circles"] { background-image: url("../images/textures/circles.png"); }
.elzPLT[data-tx="classy-fabric"] { background-image: url("../images/textures/classy-fabric.png"); }
.elzPLT[data-tx="clean-gray-paper"] { background-image: url("../images/textures/clean-gray-paper.png"); }
.elzPLT[data-tx="clean-textile"] { background-image: url("../images/textures/clean-textile.png"); }
.elzPLT[data-tx="climpek"] { background-image: url("../images/textures/climpek.png"); }
.elzPLT[data-tx="cloth-alike"] { background-image: url("../images/textures/cloth-alike.png"); }
.elzPLT[data-tx="concrete-wall-2"] { background-image: url("../images/textures/concrete-wall-2.png"); }
.elzPLT[data-tx="concrete-wall-3"] { background-image: url("../images/textures/concrete-wall-3.png"); }
.elzPLT[data-tx="concrete-wall"] { background-image: url("../images/textures/concrete-wall.png"); }
.elzPLT[data-tx="connected"] { background-image: url("../images/textures/connected.png"); }
.elzPLT[data-tx="corrugation"] { background-image: url("../images/textures/corrugation.png"); }
.elzPLT[data-tx="cream-dust"] { background-image: url("../images/textures/cream-dust.png"); }
.elzPLT[data-tx="cream-paper"] { background-image: url("../images/textures/cream-paper.png"); }
.elzPLT[data-tx="cream-pixels"] { background-image: url("../images/textures/cream-pixels.png"); }
.elzPLT[data-tx="crisp-paper-ruffles"] { background-image: url("../images/textures/crisp-paper-ruffles.png"); }
.elzPLT[data-tx="crissxcross"] { background-image: url("../images/textures/crissxcross.png"); }
.elzPLT[data-tx="cross-scratches"] { background-image: url("../images/textures/cross-scratches.png"); }
.elzPLT[data-tx="cross-stripes"] { background-image: url("../images/textures/cross-stripes.png"); }
.elzPLT[data-tx="crossword"] { background-image: url("../images/textures/crossword.png"); }
.elzPLT[data-tx="cubes"] { background-image: url("../images/textures/cubes.png"); }
.elzPLT[data-tx="cutcube"] { background-image: url("../images/textures/cutcube.png"); }
.elzPLT[data-tx="dark-brick-wall"] { background-image: url("../images/textures/dark-brick-wall.png"); }
.elzPLT[data-tx="dark-circles"] { background-image: url("../images/textures/dark-circles.png"); }
.elzPLT[data-tx="dark-denim-3"] { background-image: url("../images/textures/dark-denim-3.png"); }
.elzPLT[data-tx="dark-denim"] { background-image: url("../images/textures/dark-denim.png"); }
.elzPLT[data-tx="dark-dot"] { background-image: url("../images/textures/dark-dot.png"); }
.elzPLT[data-tx="dark-dotted-2"] { background-image: url("../images/textures/dark-dotted-2.png"); }
.elzPLT[data-tx="dark-exa"] { background-image: url("../images/textures/dark-exa.png"); }
.elzPLT[data-tx="dark-fish-skin"] { background-image: url("../images/textures/dark-fish-skin.png"); }
.elzPLT[data-tx="dark-geometric"] { background-image: url("../images/textures/dark-geometric.png"); }
.elzPLT[data-tx="dark-leather"] { background-image: url("../images/textures/dark-leather.png"); }
.elzPLT[data-tx="dark-matter"] { background-image: url("../images/textures/dark-matter.png"); }
.elzPLT[data-tx="dark-mosaic"] { background-image: url("../images/textures/dark-mosaic.png"); }
.elzPLT[data-tx="dark-stripes-light"] { background-image: url("../images/textures/dark-stripes-light.png"); }
.elzPLT[data-tx="dark-stripes"] { background-image: url("../images/textures/dark-stripes.png"); }
.elzPLT[data-tx="dark-tire"] { background-image: url("../images/textures/dark-tire.png"); }
.elzPLT[data-tx="dark-wall"] { background-image: url("../images/textures/dark-wall.png"); }
.elzPLT[data-tx="dark-wood"] { background-image: url("../images/textures/dark-wood.png"); }
.elzPLT[data-tx="darth-stripe"] { background-image: url("../images/textures/darth-stripe.png"); }
.elzPLT[data-tx="debut-dark"] { background-image: url("../images/textures/debut-dark.png"); }
.elzPLT[data-tx="debut-light"] { background-image: url("../images/textures/debut-light.png"); }
.elzPLT[data-tx="diagmonds-light"] { background-image: url("../images/textures/diagmonds-light.png"); }
.elzPLT[data-tx="diagmonds"] { background-image: url("../images/textures/diagmonds.png"); }
.elzPLT[data-tx="diagonal-noise"] { background-image: url("../images/textures/diagonal-noise.png"); }
.elzPLT[data-tx="diagonal-striped-brick"] { background-image: url("../images/textures/diagonal-striped-brick.png"); }
.elzPLT[data-tx="diagonal-waves"] { background-image: url("../images/textures/diagonal-waves.png"); }
.elzPLT[data-tx="diagonales-decalees"] { background-image: url("../images/textures/diagonales-decalees.png"); }
.elzPLT[data-tx="diamond-eyes"] { background-image: url("../images/textures/diamond-eyes.png"); }
.elzPLT[data-tx="diamond-upholstery"] { background-image: url("../images/textures/diamond-upholstery.png"); }
.elzPLT[data-tx="diamonds-are-forever"] { background-image: url("../images/textures/diamonds-are-forever.png"); }
.elzPLT[data-tx="dimension"] { background-image: url("../images/textures/dimension.png"); }
.elzPLT[data-tx="dirty-old-black-shirt"] { background-image: url("../images/textures/dirty-old-black-shirt.png"); }
.elzPLT[data-tx="dotnoise-light-grey"] { background-image: url("../images/textures/dotnoise-light-grey.png"); }
.elzPLT[data-tx="double-lined"] { background-image: url("../images/textures/double-lined.png"); }
.elzPLT[data-tx="dust"] { background-image: url("../images/textures/dust.png"); }
.elzPLT[data-tx="ecailles"] { background-image: url("../images/textures/ecailles.png"); }
.elzPLT[data-tx="egg-shell"] { background-image: url("../images/textures/egg-shell.png"); }
.elzPLT[data-tx="elastoplast"] { background-image: url("../images/textures/elastoplast.png"); }
.elzPLT[data-tx="elegant-grid"] { background-image: url("../images/textures/elegant-grid.png"); }
.elzPLT[data-tx="embossed-paper"] { background-image: url("../images/textures/embossed-paper.png"); }
.elzPLT[data-tx="escheresque-dark"] { background-image: url("../images/textures/escheresque-dark.png"); }
.elzPLT[data-tx="escheresque"] { background-image: url("../images/textures/escheresque.png"); }
.elzPLT[data-tx="exclusive-paper"] { background-image: url("../images/textures/exclusive-paper.png"); }
.elzPLT[data-tx="fabric-1-dark"] { background-image: url("../images/textures/fabric-1-dark.png"); }
.elzPLT[data-tx="fabric-1-light"] { background-image: url("../images/textures/fabric-1-light.png"); }
.elzPLT[data-tx="fabric-of-squares"] { background-image: url("../images/textures/fabric-of-squares.png"); }
.elzPLT[data-tx="fabric-plaid"] { background-image: url("../images/textures/fabric-plaid.png"); }
.elzPLT[data-tx="fake-brick"] { background-image: url("../images/textures/fake-brick.png"); }
.elzPLT[data-tx="fake-luxury"] { background-image: url("../images/textures/fake-luxury.png"); }
.elzPLT[data-tx="fancy-deboss"] { background-image: url("../images/textures/fancy-deboss.png"); }
.elzPLT[data-tx="farmer"] { background-image: url("../images/textures/farmer.png"); }
.elzPLT[data-tx="felt"] { background-image: url("../images/textures/felt.png"); }
.elzPLT[data-tx="first-aid-kit"] { background-image: url("../images/textures/first-aid-kit.png"); }
.elzPLT[data-tx="flower-trail"] { background-image: url("../images/textures/flower-trail.png"); }
.elzPLT[data-tx="flowers"] { background-image: url("../images/textures/flowers.png"); }
.elzPLT[data-tx="foggy-birds"] { background-image: url("../images/textures/foggy-birds.png"); }
.elzPLT[data-tx="food"] { background-image: url("../images/textures/food.png"); }
.elzPLT[data-tx="football-no-lines"] { background-image: url("../images/textures/football-no-lines.png"); }
.elzPLT[data-tx="french-stucco"] { background-image: url("../images/textures/french-stucco.png"); }
.elzPLT[data-tx="fresh-snow"] { background-image: url("../images/textures/fresh-snow.png"); }
.elzPLT[data-tx="gold-scale"] { background-image: url("../images/textures/gold-scale.png"); }
.elzPLT[data-tx="gplay"] { background-image: url("../images/textures/gplay.png"); }
.elzPLT[data-tx="gradient-squares"] { background-image: url("../images/textures/gradient-squares.png"); }
.elzPLT[data-tx="graphcoders-lil-fiber"] { background-image: url("../images/textures/graphcoders-lil-fiber.png"); }
.elzPLT[data-tx="graphy-dark"] { background-image: url("../images/textures/graphy-dark.png"); }
.elzPLT[data-tx="graphy"] { background-image: url("../images/textures/graphy.png"); }
.elzPLT[data-tx="gravel"] { background-image: url("../images/textures/gravel.png"); }
.elzPLT[data-tx="gray-floral"] { background-image: url("../images/textures/gray-floral.png"); }
.elzPLT[data-tx="gray-lines"] { background-image: url("../images/textures/gray-lines.png"); }
.elzPLT[data-tx="gray-sand"] { background-image: url("../images/textures/gray-sand.png"); }
.elzPLT[data-tx="green-cup"] { background-image: url("../images/textures/green-cup.png"); }
.elzPLT[data-tx="green-dust-and-scratches"] { background-image: url("../images/textures/green-dust-and-scratches.png"); }
.elzPLT[data-tx="green-fibers"] { background-image: url("../images/textures/green-fibers.png"); }
.elzPLT[data-tx="green-gobbler"] { background-image: url("../images/textures/green-gobbler.png"); }
.elzPLT[data-tx="grey-jean"] { background-image: url("../images/textures/grey-jean.png"); }
.elzPLT[data-tx="grey-sandbag"] { background-image: url("../images/textures/grey-sandbag.png"); }
.elzPLT[data-tx="grey-washed-wall"] { background-image: url("../images/textures/grey-washed-wall.png"); }
.elzPLT[data-tx="greyzz"] { background-image: url("../images/textures/greyzz.png"); }
.elzPLT[data-tx="grid-me"] { background-image: url("../images/textures/grid-me.png"); }
.elzPLT[data-tx="grid-noise"] { background-image: url("../images/textures/grid-noise.png"); }
.elzPLT[data-tx="grid"] { background-image: url("../images/textures/grid.png"); }
.elzPLT[data-tx="grilled-noise"] { background-image: url("../images/textures/grilled-noise.png"); }
.elzPLT[data-tx="groovepaper"] { background-image: url("../images/textures/groovepaper.png"); }
.elzPLT[data-tx="grunge-wall"] { background-image: url("../images/textures/grunge-wall.png"); }
.elzPLT[data-tx="gun-metal"] { background-image: url("../images/textures/gun-metal.png"); }
.elzPLT[data-tx="handmade-paper"] { background-image: url("../images/textures/handmade-paper.png"); }
.elzPLT[data-tx="hexabump"] { background-image: url("../images/textures/hexabump.png"); }
.elzPLT[data-tx="hexellence"] { background-image: url("../images/textures/hexellence.png"); }
.elzPLT[data-tx="hixs-evolution"] { background-image: url("../images/textures/hixs-evolution.png"); }
.elzPLT[data-tx="hoffman"] { background-image: url("../images/textures/hoffman.png"); }
.elzPLT[data-tx="honey-im-subtle"] { background-image: url("../images/textures/honey-im-subtle.png"); }
.elzPLT[data-tx="ice-age"] { background-image: url("../images/textures/ice-age.png"); }
.elzPLT[data-tx="inflicted"] { background-image: url("../images/textures/inflicted.png"); }
.elzPLT[data-tx="inspiration-geometry"] { background-image: url("../images/textures/inspiration-geometry.png"); }
.elzPLT[data-tx="iron-grip"] { background-image: url("../images/textures/iron-grip.png"); }
.elzPLT[data-tx="kinda-jean"] { background-image: url("../images/textures/kinda-jean.png"); }
.elzPLT[data-tx="knitted-netting"] { background-image: url("../images/textures/knitted-netting.png"); }
.elzPLT[data-tx="knitted-sweater"] { background-image: url("../images/textures/knitted-sweater.png"); }
.elzPLT[data-tx="kuji"] { background-image: url("../images/textures/kuji.png"); }
.elzPLT[data-tx="large-leather"] { background-image: url("../images/textures/large-leather.png"); }
.elzPLT[data-tx="leather"] { background-image: url("../images/textures/leather.png"); }
.elzPLT[data-tx="light-aluminum"] { background-image: url("../images/textures/light-aluminum.png"); }
.elzPLT[data-tx="light-gray"] { background-image: url("../images/textures/light-gray.png"); }
.elzPLT[data-tx="light-grey-floral-motif"] { background-image: url("../images/textures/light-grey-floral-motif.png"); }
.elzPLT[data-tx="light-honeycomb-dark"] { background-image: url("../images/textures/light-honeycomb-dark.png"); }
.elzPLT[data-tx="light-honeycomb"] { background-image: url("../images/textures/light-honeycomb.png"); }
.elzPLT[data-tx="light-mesh"] { background-image: url("../images/textures/light-mesh.png"); }
.elzPLT[data-tx="light-paper-fibers"] { background-image: url("../images/textures/light-paper-fibers.png"); }
.elzPLT[data-tx="light-sketch"] { background-image: url("../images/textures/light-sketch.png"); }
.elzPLT[data-tx="light-toast"] { background-image: url("../images/textures/light-toast.png"); }
.elzPLT[data-tx="light-wool"] { background-image: url("../images/textures/light-wool.png"); }
.elzPLT[data-tx="lined-paper-2"] { background-image: url("../images/textures/lined-paper-2.png"); }
.elzPLT[data-tx="lined-paper"] { background-image: url("../images/textures/lined-paper.png"); }
.elzPLT[data-tx="little-knobs"] { background-image: url("../images/textures/little-knobs.png"); }
.elzPLT[data-tx="little-pluses"] { background-image: url("../images/textures/little-pluses.png"); }
.elzPLT[data-tx="little-triangles"] { background-image: url("../images/textures/little-triangles.png"); }
.elzPLT[data-tx="low-contrast-linen"] { background-image: url("../images/textures/low-contrast-linen.png"); }
.elzPLT[data-tx="lyonnette"] { background-image: url("../images/textures/lyonnette.png"); }
.elzPLT[data-tx="maze-black"] { background-image: url("../images/textures/maze-black.png"); }
.elzPLT[data-tx="maze-white"] { background-image: url("../images/textures/maze-white.png"); }
.elzPLT[data-tx="mbossed"] { background-image: url("../images/textures/mbossed.png"); }
.elzPLT[data-tx="medic-packaging-foil"] { background-image: url("../images/textures/medic-packaging-foil.png"); }
.elzPLT[data-tx="merely-cubed"] { background-image: url("../images/textures/merely-cubed.png"); }
.elzPLT[data-tx="micro-carbon"] { background-image: url("../images/textures/micro-carbon.png"); }
.elzPLT[data-tx="mirrored-squares"] { background-image: url("../images/textures/mirrored-squares.png"); }
.elzPLT[data-tx="mocha-grunge"] { background-image: url("../images/textures/mocha-grunge.png"); }
.elzPLT[data-tx="mooning"] { background-image: url("../images/textures/mooning.png"); }
.elzPLT[data-tx="moulin"] { background-image: url("../images/textures/moulin.png"); }
.elzPLT[data-tx="my-little-plaid-dark"] { background-image: url("../images/textures/my-little-plaid-dark.png"); }
.elzPLT[data-tx="my-little-plaid"] { background-image: url("../images/textures/my-little-plaid.png"); }
.elzPLT[data-tx="nami"] { background-image: url("../images/textures/nami.png"); }
.elzPLT[data-tx="nasty-fabric"] { background-image: url("../images/textures/nasty-fabric.png"); }
.elzPLT[data-tx="natural-paper"] { background-image: url("../images/textures/natural-paper.png"); }
.elzPLT[data-tx="navy"] { background-image: url("../images/textures/navy.png"); }
.elzPLT[data-tx="nice-snow"] { background-image: url("../images/textures/nice-snow.png"); }
.elzPLT[data-tx="nistri"] { background-image: url("../images/textures/nistri.png"); }
.elzPLT[data-tx="noise-lines"] { background-image: url("../images/textures/noise-lines.png"); }
.elzPLT[data-tx="noise-pattern"] { background-image: url("../images/textures/noise-pattern.png"); }
.elzPLT[data-tx="noisy-grid"] { background-image: url("../images/textures/noisy-grid.png"); }
.elzPLT[data-tx="noisy-net"] { background-image: url("../images/textures/noisy-net.png"); }
.elzPLT[data-tx="noisy"] { background-image: url("../images/textures/noisy.png"); }
.elzPLT[data-tx="norwegian-rose"] { background-image: url("../images/textures/norwegian-rose.png"); }
.elzPLT[data-tx="notebook-dark"] { background-image: url("../images/textures/notebook-dark.png"); }
.elzPLT[data-tx="notebook"] { background-image: url("../images/textures/notebook.png"); }
.elzPLT[data-tx="office"] { background-image: url("../images/textures/office.png"); }
.elzPLT[data-tx="old-husks"] { background-image: url("../images/textures/old-husks.png"); }
.elzPLT[data-tx="old-map"] { background-image: url("../images/textures/old-map.png"); }
.elzPLT[data-tx="old-mathematics"] { background-image: url("../images/textures/old-mathematics.png"); }
.elzPLT[data-tx="old-moon"] { background-image: url("../images/textures/old-moon.png"); }
.elzPLT[data-tx="old-wall"] { background-image: url("../images/textures/old-wall.png"); }
.elzPLT[data-tx="otis-redding"] { background-image: url("../images/textures/otis-redding.png"); }
.elzPLT[data-tx="outlets"] { background-image: url("../images/textures/outlets.png"); }
.elzPLT[data-tx="p1"] { background-image: url("../images/textures/p1.png"); }
.elzPLT[data-tx="p2"] { background-image: url("../images/textures/p2.png"); }
.elzPLT[data-tx="p4"] { background-image: url("../images/textures/p4.png"); }
.elzPLT[data-tx="p5"] { background-image: url("../images/textures/p5.png"); }
.elzPLT[data-tx="p6"] { background-image: url("../images/textures/p6.png"); }
.elzPLT[data-tx="padded-light"] { background-image: url("../images/textures/padded-light.png"); }
.elzPLT[data-tx="padded"] { background-image: url("../images/textures/padded.png"); }
.elzPLT[data-tx="paper-1"] { background-image: url("../images/textures/paper-1.png"); }
.elzPLT[data-tx="paper-2"] { background-image: url("../images/textures/paper-2.png"); }
.elzPLT[data-tx="paper-3"] { background-image: url("../images/textures/paper-3.png"); }
.elzPLT[data-tx="paper-fibers"] { background-image: url("../images/textures/paper-fibers.png"); }
.elzPLT[data-tx="paper"] { background-image: url("../images/textures/paper.png"); }
.elzPLT[data-tx="paven"] { background-image: url("../images/textures/paven.png"); }
.elzPLT[data-tx="perforated-white-leather"] { background-image: url("../images/textures/perforated-white-leather.png"); }
.elzPLT[data-tx="pineapple-cut"] { background-image: url("../images/textures/pineapple-cut.png"); }
.elzPLT[data-tx="pinstripe-dark"] { background-image: url("../images/textures/pinstripe-dark.png"); }
.elzPLT[data-tx="pinstripe-light"] { background-image: url("../images/textures/pinstripe-light.png"); }
.elzPLT[data-tx="pinstriped-suit"] { background-image: url("../images/textures/pinstriped-suit.png"); }
.elzPLT[data-tx="pixel-weave"] { background-image: url("../images/textures/pixel-weave.png"); }
.elzPLT[data-tx="polaroid"] { background-image: url("../images/textures/polaroid.png"); }
.elzPLT[data-tx="polonez-pattern"] { background-image: url("../images/textures/polonez-pattern.png"); }
.elzPLT[data-tx="polyester-lite"] { background-image: url("../images/textures/polyester-lite.png"); }
.elzPLT[data-tx="pool-table"] { background-image: url("../images/textures/pool-table.png"); }
.elzPLT[data-tx="project-paper"] { background-image: url("../images/textures/project-paper.png"); }
.elzPLT[data-tx="ps-neutral"] { background-image: url("../images/textures/ps-neutral.png"); }
.elzPLT[data-tx="psychedelic"] { background-image: url("../images/textures/psychedelic.png"); }
.elzPLT[data-tx="purty-wood"] { background-image: url("../images/textures/purty-wood.png"); }
.elzPLT[data-tx="pw-pattern"] { background-image: url("../images/textures/pw-pattern.png"); }
.elzPLT[data-tx="pyramid"] { background-image: url("../images/textures/pyramid.png"); }
.elzPLT[data-tx="quilt"] { background-image: url("../images/textures/quilt.png"); }
.elzPLT[data-tx="random-grey-variations"] { background-image: url("../images/textures/random-grey-variations.png"); }
.elzPLT[data-tx="ravenna"] { background-image: url("../images/textures/ravenna.png"); }
.elzPLT[data-tx="real-carbon-fibre"] { background-image: url("../images/textures/real-carbon-fibre.png"); }
.elzPLT[data-tx="rebel"] { background-image: url("../images/textures/rebel.png"); }
.elzPLT[data-tx="redox-01"] { background-image: url("../images/textures/redox-01.png"); }
.elzPLT[data-tx="redox-02"] { background-image: url("../images/textures/redox-02.png"); }
.elzPLT[data-tx="reticular-tissue"] { background-image: url("../images/textures/reticular-tissue.png"); }
.elzPLT[data-tx="retina-dust"] { background-image: url("../images/textures/retina-dust.png"); }
.elzPLT[data-tx="retina-wood"] { background-image: url("../images/textures/retina-wood.png"); }
.elzPLT[data-tx="retro-intro"] { background-image: url("../images/textures/retro-intro.png"); }
.elzPLT[data-tx="rice-paper-2"] { background-image: url("../images/textures/rice-paper-2.png"); }
.elzPLT[data-tx="rice-paper-3"] { background-image: url("../images/textures/rice-paper-3.png"); }
.elzPLT[data-tx="rice-paper"] { background-image: url("../images/textures/rice-paper.png"); }
.elzPLT[data-tx="robots"] { background-image: url("../images/textures/robots.png"); }
.elzPLT[data-tx="rocky-wall"] { background-image: url("../images/textures/rocky-wall.png"); }
.elzPLT[data-tx="rough-cloth-light"] { background-image: url("../images/textures/rough-cloth-light.png"); }
.elzPLT[data-tx="rough-cloth"] { background-image: url("../images/textures/rough-cloth.png"); }
.elzPLT[data-tx="rough-diagonal"] { background-image: url("../images/textures/rough-diagonal.png"); }
.elzPLT[data-tx="rubber-grip"] { background-image: url("../images/textures/rubber-grip.png"); }
.elzPLT[data-tx="sandpaper"] { background-image: url("../images/textures/sandpaper.png"); }
.elzPLT[data-tx="satin-weave"] { background-image: url("../images/textures/satin-weave.png"); }
.elzPLT[data-tx="scribble-light"] { background-image: url("../images/textures/scribble-light.png"); }
.elzPLT[data-tx="shattered-dark"] { background-image: url("../images/textures/shattered-dark.png"); }
.elzPLT[data-tx="shattered"] { background-image: url("../images/textures/shattered.png"); }
.elzPLT[data-tx="shine-caro"] { background-image: url("../images/textures/shine-caro.png"); }
.elzPLT[data-tx="shine-dotted"] { background-image: url("../images/textures/shine-dotted.png"); }
.elzPLT[data-tx="shley-tree-1"] { background-image: url("../images/textures/shley-tree-1.png"); }
.elzPLT[data-tx="shley-tree-2"] { background-image: url("../images/textures/shley-tree-2.png"); }
.elzPLT[data-tx="silver-scales"] { background-image: url("../images/textures/silver-scales.png"); }
.elzPLT[data-tx="simple-dashed"] { background-image: url("../images/textures/simple-dashed.png"); }
.elzPLT[data-tx="simple-horizontal-light"] { background-image: url("../images/textures/simple-horizontal-light.png"); }
.elzPLT[data-tx="skeletal-weave"] { background-image: url("../images/textures/skeletal-weave.png"); }
.elzPLT[data-tx="skewed-print"] { background-image: url("../images/textures/skewed-print.png"); }
.elzPLT[data-tx="skin-side-up"] { background-image: url("../images/textures/skin-side-up.png"); }
.elzPLT[data-tx="skulls"] { background-image: url("../images/textures/skulls.png"); }
.elzPLT[data-tx="slash-it"] { background-image: url("../images/textures/slash-it.png"); }
.elzPLT[data-tx="small-crackle-bright"] { background-image: url("../images/textures/small-crackle-bright.png"); }
.elzPLT[data-tx="small-crosses"] { background-image: url("../images/textures/small-crosses.png"); }
.elzPLT[data-tx="smooth-wall-dark"] { background-image: url("../images/textures/smooth-wall-dark.png"); }
.elzPLT[data-tx="smooth-wall-light"] { background-image: url("../images/textures/smooth-wall-light.png"); }
.elzPLT[data-tx="sneaker-mesh-fabric"] { background-image: url("../images/textures/sneaker-mesh-fabric.png"); }
.elzPLT[data-tx="snow"] { background-image: url("../images/textures/snow.png"); }
.elzPLT[data-tx="soft-circle-scales"] { background-image: url("../images/textures/soft-circle-scales.png"); }
.elzPLT[data-tx="soft-kill"] { background-image: url("../images/textures/soft-kill.png"); }
.elzPLT[data-tx="soft-pad"] { background-image: url("../images/textures/soft-pad.png"); }
.elzPLT[data-tx="soft-wallpaper"] { background-image: url("../images/textures/soft-wallpaper.png"); }
.elzPLT[data-tx="solid"] { background-image: url("../images/textures/solid.png"); }
.elzPLT[data-tx="sos"] { background-image: url("../images/textures/sos.png"); }
.elzPLT[data-tx="sprinkles"] { background-image: url("../images/textures/sprinkles.png"); }
.elzPLT[data-tx="squairy"] { background-image: url("../images/textures/squairy.png"); }
.elzPLT[data-tx="squared-metal"] { background-image: url("../images/textures/squared-metal.png"); }
.elzPLT[data-tx="squares"] { background-image: url("../images/textures/squares.png"); }
.elzPLT[data-tx="stacked-circles"] { background-image: url("../images/textures/stacked-circles.png"); }
.elzPLT[data-tx="stardust"] { background-image: url("../images/textures/stardust.png"); }
.elzPLT[data-tx="starring"] { background-image: url("../images/textures/starring.png"); }
.elzPLT[data-tx="stitched-wool"] { background-image: url("../images/textures/stitched-wool.png"); }
.elzPLT[data-tx="strange-bullseyes"] { background-image: url("../images/textures/strange-bullseyes.png"); }
.elzPLT[data-tx="straws"] { background-image: url("../images/textures/straws.png"); }
.elzPLT[data-tx="stressed-linen"] { background-image: url("../images/textures/stressed-linen.png"); }
.elzPLT[data-tx="stucco"] { background-image: url("../images/textures/stucco.png"); }
.elzPLT[data-tx="subtle-carbon"] { background-image: url("../images/textures/subtle-carbon.png"); }
.elzPLT[data-tx="subtle-dark-vertical"] { background-image: url("../images/textures/subtle-dark-vertical.png"); }
.elzPLT[data-tx="subtle-dots"] { background-image: url("../images/textures/subtle-dots.png"); }
.elzPLT[data-tx="subtle-freckles"] { background-image: url("../images/textures/subtle-freckles.png"); }
.elzPLT[data-tx="subtle-grey"] { background-image: url("../images/textures/subtle-grey.png"); }
.elzPLT[data-tx="subtle-grunge"] { background-image: url("../images/textures/subtle-grunge.png"); }
.elzPLT[data-tx="subtle-stripes"] { background-image: url("../images/textures/subtle-stripes.png"); }
.elzPLT[data-tx="subtle-surface"] { background-image: url("../images/textures/subtle-surface.png"); }
.elzPLT[data-tx="subtle-white-feathers"] { background-image: url("../images/textures/subtle-white-feathers.png"); }
.elzPLT[data-tx="subtle-zebra-3d"] { background-image: url("../images/textures/subtle-zebra-3d.png"); }
.elzPLT[data-tx="subtlenet"] { background-image: url("../images/textures/subtlenet.png"); }
.elzPLT[data-tx="swirl"] { background-image: url("../images/textures/swirl.png"); }
.elzPLT[data-tx="tactile-noise-dark"] { background-image: url("../images/textures/tactile-noise-dark.png"); }
.elzPLT[data-tx="tactile-noise-light"] { background-image: url("../images/textures/tactile-noise-light.png"); }
.elzPLT[data-tx="tapestry"] { background-image: url("../images/textures/tapestry.png"); }
.elzPLT[data-tx="tasky"] { background-image: url("../images/textures/tasky.png"); }
.elzPLT[data-tx="tex2res1"] { background-image: url("../images/textures/tex2res1.png"); }
.elzPLT[data-tx="tex2res2"] { background-image: url("../images/textures/tex2res2.png"); }
.elzPLT[data-tx="tex2res3"] { background-image: url("../images/textures/tex2res3.png"); }
.elzPLT[data-tx="tex2res4"] { background-image: url("../images/textures/tex2res4.png"); }
.elzPLT[data-tx="tex2res5"] { background-image: url("../images/textures/tex2res5.png"); }
.elzPLT[data-tx="textured-paper"] { background-image: url("../images/textures/textured-paper.png"); }
.elzPLT[data-tx="textured-stripes"] { background-image: url("../images/textures/textured-stripes.png"); }
.elzPLT[data-tx="texturetastic-gray"] { background-image: url("../images/textures/texturetastic-gray.png"); }
.elzPLT[data-tx="ticks"] { background-image: url("../images/textures/ticks.png"); }
.elzPLT[data-tx="tileable-wood-colored"] { background-image: url("../images/textures/tileable-wood-colored.png"); }
.elzPLT[data-tx="tileable-wood"] { background-image: url("../images/textures/tileable-wood.png"); }
.elzPLT[data-tx="tiny-grid"] { background-image: url("../images/textures/tiny-grid.png"); }
.elzPLT[data-tx="translucent-fibres"] { background-image: url("../images/textures/translucent-fibres.png"); }
.elzPLT[data-tx="transparent-square-tiles"] { background-image: url("../images/textures/transparent-square-tiles.png"); }
.elzPLT[data-tx="tree-bark"] { background-image: url("../images/textures/tree-bark.png"); }
.elzPLT[data-tx="triangles-2"] { background-image: url("../images/textures/triangles-2.png"); }
.elzPLT[data-tx="triangles"] { background-image: url("../images/textures/triangles.png"); }
.elzPLT[data-tx="triangular"] { background-image: url("../images/textures/triangular.png"); }
.elzPLT[data-tx="tweed"] { background-image: url("../images/textures/tweed.png"); }
.elzPLT[data-tx="twinkle-twinkle"] { background-image: url("../images/textures/twinkle-twinkle.png"); }
.elzPLT[data-tx="txture"] { background-image: url("../images/textures/txture.png"); }
.elzPLT[data-tx="type"] { background-image: url("../images/textures/type.png"); }
.elzPLT[data-tx="use-your-illusion"] { background-image: url("../images/textures/use-your-illusion.png"); }
.elzPLT[data-tx="vaio"] { background-image: url("../images/textures/vaio.png"); }
.elzPLT[data-tx="vertical-cloth"] { background-image: url("../images/textures/vertical-cloth.png"); }
.elzPLT[data-tx="vichy"] { background-image: url("../images/textures/vichy.png"); }
.elzPLT[data-tx="vintage-speckles"] { background-image: url("../images/textures/vintage-speckles.png"); }
.elzPLT[data-tx="wall-4-light"] { background-image: url("../images/textures/wall-4-light.png"); }
.elzPLT[data-tx="washi"] { background-image: url("../images/textures/washi.png"); }
.elzPLT[data-tx="wave-grid"] { background-image: url("../images/textures/wave-grid.png"); }
.elzPLT[data-tx="wavecut"] { background-image: url("../images/textures/wavecut.png"); }
.elzPLT[data-tx="weave"] { background-image: url("../images/textures/weave.png"); }
.elzPLT[data-tx="wet-snow"] { background-image: url("../images/textures/wet-snow.png"); }
.elzPLT[data-tx="white-bed-sheet"] { background-image: url("../images/textures/white-bed-sheet.png"); }
.elzPLT[data-tx="white-brick-wall"] { background-image: url("../images/textures/white-brick-wall.png"); }
.elzPLT[data-tx="white-brushed"] { background-image: url("../images/textures/white-brushed.png"); }
.elzPLT[data-tx="white-carbon"] { background-image: url("../images/textures/white-carbon.png"); }
.elzPLT[data-tx="white-carbonfiber"] { background-image: url("../images/textures/white-carbonfiber.png"); }
.elzPLT[data-tx="white-diamond-dark"] { background-image: url("../images/textures/white-diamond-dark.png"); }
.elzPLT[data-tx="white-diamond"] { background-image: url("../images/textures/white-diamond.png"); }
.elzPLT[data-tx="white-leather"] { background-image: url("../images/textures/white-leather.png"); }
.elzPLT[data-tx="white-linen"] { background-image: url("../images/textures/white-linen.png"); }
.elzPLT[data-tx="white-paperboard"] { background-image: url("../images/textures/white-paperboard.png"); }
.elzPLT[data-tx="white-plaster"] { background-image: url("../images/textures/white-plaster.png"); }
.elzPLT[data-tx="white-sand"] { background-image: url("../images/textures/white-sand.png"); }
.elzPLT[data-tx="white-texture"] { background-image: url("../images/textures/white-texture.png"); }
.elzPLT[data-tx="white-tiles"] { background-image: url("../images/textures/white-tiles.png"); }
.elzPLT[data-tx="white-wall-3-2"] { background-image: url("../images/textures/white-wall-3-2.png"); }
.elzPLT[data-tx="white-wall-3"] { background-image: url("../images/textures/white-wall-3.png"); }
.elzPLT[data-tx="white-wall"] { background-image: url("../images/textures/white-wall.png"); }
.elzPLT[data-tx="white-wave"] { background-image: url("../images/textures/white-wave.png"); }
.elzPLT[data-tx="whitey"] { background-image: url("../images/textures/whitey.png"); }
.elzPLT[data-tx="wide-rectangles"] { background-image: url("../images/textures/wide-rectangles.png"); }
.elzPLT[data-tx="wild-flowers"] { background-image: url("../images/textures/wild-flowers.png"); }
.elzPLT[data-tx="wild-oliva"] { background-image: url("../images/textures/wild-oliva.png"); }
.elzPLT[data-tx="wine-cork"] { background-image: url("../images/textures/wine-cork.png"); }
.elzPLT[data-tx="wood-pattern"] { background-image: url("../images/textures/wood-pattern.png"); }
.elzPLT[data-tx="wood"] { background-image: url("../images/textures/wood.png"); }
.elzPLT[data-tx="worn-dots"] { background-image: url("../images/textures/worn-dots.png"); }
.elzPLT[data-tx="woven-light"] { background-image: url("../images/textures/woven-light.png"); }
.elzPLT[data-tx="woven"] { background-image: url("../images/textures/woven.png"); }
.elzPLT[data-tx="xv"] { background-image: url("../images/textures/xv.png"); }
.elzPLT[data-tx="zig-zag"] { background-image: url("../images/textures/zig-zag.png"); }