<div class="elz acItem link {{ac_class}}">
    <div class="elz strCLSitem padHMedium padVSmaller mar-LSmaller flexible middle elzCLSuName memberItem {{member_gender}}" data-id="{{member_id}}">
        <div class="elz strCLSitem marLSmaller">
            <div class="elz elzIcon smallest rad">
                <i class="elz main smallest elzIc ic-user"></i>
            </div>
        </div>
        <div class="elz strCLSitem marLSmaller grow w0">{{member_nick}}</div>
    </div>
</div>