<div {{{books_data}}} class="elz elzCLSbookmarks grow brDark hovDark dark {{books_class}}">
    <div class="elz elzScroll macosx dark nopad">
        <div class="elz bookmarksWrap">
{{#books_list}}
    {{> common/bookmarks_item}}
{{/books_list}}
        </div>
    </div>
</div>
