
<div class="elz elzCLSloadingCircle large blue loading stretch">
    <svg class="elz circle">
        <circle class="bg" cx="50%" cy="50%" r="55"></circle>
        <circle class="bar" cx="50%" cy="50%" r="55" style="stroke-dashoffset: 85.17696820872221850778733096204;"></circle>
    </svg>
    <span class="elz txt">50%</span>
</div>