.ui-datepicker {
    position: relative;
    display: block;
}

#ui-datepicker-div {
    position: absolute;
    display: none;
    overflow: hidden;
    color: #000000;
    background-color: #f5f5f5;
    background-clip: padding-box;
    border-radius: 1px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.25);
    padding: 14px;
    z-index: 500 !important;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 9pt;
}

.ui-datepicker .ui-datepicker-calendar {
    display: table;
    border-collapse: separate;
    table-layout: fixed;
    border-spacing: 2px;
}

.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
    text-align: center;
    padding: 0;
}

.ui-datepicker .ui-datepicker-calendar td a,
.ui-datepicker .ui-datepicker-calendar td span,
.ui-datepicker .ui-datepicker-calendar th span,
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
    width:       36px;
    height:      36px;
}

.ui-datepicker .ui-datepicker-calendar td a,
.ui-datepicker .ui-datepicker-calendar td span,
.ui-datepicker .ui-datepicker-calendar th span {
    position: relative;
    display: block;
    line-height: 36px;
    text-decoration: none;
    color: inherit;
    border-radius: 100%;
}

.ui-datepicker .ui-datepicker-calendar td.ui-state-disabled,
.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-other-month { opacity: 0.5; }

.ui-datepicker .ui-datepicker-calendar td a { cursor: pointer; }

.ui-datepicker .ui-datepicker-calendar td a:hover,
.ui-datepicker .ui-datepicker-calendar td a:active { background-color: rgba(0, 0, 0, 0.1); }

.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today a {
    background-color: #ffe082;
    color: #484800;
}

.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-current-day a {
    background-color: #0095df;
    font-weight: bold;
    color: #ffffff;
}

/* Day names */

.ui-datepicker .ui-datepicker-calendar th { height: 48px; }

.ui-datepicker .ui-datepicker-calendar th span {
    width: auto;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-left:  -1px;
    margin-right: -1px;
}

.ui-datepicker .ui-datepicker-calendar th:first-child span { margin-left:  0; }
.ui-datepicker .ui-datepicker-calendar th:last-child  span { margin-right: 0; }









/* Header */

.ui-datepicker .ui-datepicker-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.075);
    margin: 2px 2px -2px 2px;
}

.ui-datepicker#ui-datepicker-div .ui-datepicker-header {
    margin-top:   -14px;
    margin-left:  -14px;
    margin-right: -14px;
}

.ui-datepicker .ui-datepicker-header .ui-state-disabled {
    pointer-events: none;
    opacity: 0.5;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
    font-size: 12pt;
    flex-grow: 1;
    width: 0;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-title span {
    display: block;
    text-align: center;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-title select {
    display: block;
    width: 40%;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    padding: 0 8px;
    height: 24px;
    margin: 2px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    box-sizing: border-box;
    font-family: inherit;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-title select:hover,
.ui-datepicker .ui-datepicker-header .ui-datepicker-title select:active { border-color: rgba(0, 0, 0, 0.5); }

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev  { order:   0; margin-left:  16px; }
.ui-datepicker .ui-datepicker-header .ui-datepicker-next  { order: 100; margin-right: 16px; }
.ui-datepicker .ui-datepicker-header .ui-datepicker-title { order:  50; }

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next,
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items:     center;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next { cursor: pointer; }

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next span {
    width:  24px;
    height: 24px;
    font-size: 0;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span:before,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next span:before {
    content: "";
    width:  0;
    height: 0;
    border-style: solid;
    color: #555555;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev span:before {
    border-width: 4px 4px 4px 0;
    border-color: transparent currentColor transparent transparent;
    margin-left: -2px;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-next span:before {
    border-width: 4px 0 4px 4px;
    border-color: transparent transparent transparent currentColor;
    margin-left: 2px;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover span, .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:active span,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover span, .ui-datepicker .ui-datepicker-header .ui-datepicker-next:active span { background-color: #555555; }

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover span:before, .ui-datepicker .ui-datepicker-header .ui-datepicker-prev:active span:before,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover span:before, .ui-datepicker .ui-datepicker-header .ui-datepicker-next:active span:before { color: #ffffff; }

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:active,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next:active { opacity: 0.7; }

/* end */










/* Buttons */

.ui-datepicker .ui-datepicker-buttonpane {
    position: relative;
    display: flex;
    margin-top:   16px;
    margin-left: -16px;
}

.ui-datepicker .ui-datepicker-buttonpane:before {
    content: "";
    display: block;
    width: 0;
    flex-grow: 1;
    order: 10;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    display: block;
    margin-left: 16px;
    box-sizing: border-box;
    height: 36px;
    padding: 0 16px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close { order: 20; }

.ui-datepicker .ui-datepicker-buttonpane button:active { opacity: 0.7; }

.ui-datepicker .ui-datepicker-buttonpane button:hover,
.ui-datepicker .ui-datepicker-buttonpane button:active { border-color: rgba(0, 0, 0, 0.25); }

/* end */

