<div class="elz tableRow">
    <div class="elz tableCell">
        <div class="elz elzText bold">{{old}}</div>
    </div>
    <div class="elz tableCell">
        <div class="elz elzText">{{lang.log_row}}</div>
    </div>
    <div class="elz tableCell">
        <div class="elz elzText bold">{{new}}</div>
    </div>

    <div class="elz tableCell compressed">
        <div class="elz elzText description nowrap fn-11">{{date}}</div>
    </div>
</div>