<div class="elz strCLSitem padTMedium flexible">
    <div class="elz strCLSitem grow">
        <div class="elz strCLSitem fn-8 lh-16 bold">{{slider_title}}</div>
        <div class="elz elzCLScorrectSlider modern handInside">
            <div class="sliderUI" id="{{slider_id}}"></div>
        </div>
    </div>
    <div class="elz strCLSitem padLSmaller w80">
        <div class="elz elzF wrap">
            <input id="{{slider_input_id}}" type="text" class="elz elzF item text input default small rad light clip" placeholder="0" value="" {{{slider_input_data}}}/>
        </div>
    </div>
</div>
