/***************************************/
/* TITLES SETTINGS                     */
/***************************************/

.elzF-text {
    position: relative;
    display: block;
    font-size:    8pt;
    min-height:  16px;
    line-height: 16px;
    color: #888888;
}

.elzF-text.title {
    order: 0;
    white-space: nowrap;
    margin-bottom: 2px;
}

.elzF-text.description {
    order: 15;
    margin-top: 2px;
}

.elzF.parent:hover .elzF.item ~ .elzF-text, .elzF.parent .elzF.item:hover ~ .elzF-text, .elzF.item:hover ~ .elzF-text,
.elzF.parent.hover .elzF.item ~ .elzF-text, .elzF.parent .elzF.item.hover ~ .elzF-text, .elzF.item.hover ~ .elzF-text { color: #777777; }

.elzF.parent:focus .elzF.item ~ .elzF-text, .elzF.parent .elzF.item:focus ~ .elzF-text, .elzF.item:focus ~ .elzF-text,
.elzF.parent.focus .elzF.item ~ .elzF-text, .elzF.parent .elzF.item.focus ~ .elzF-text, .elzF.item.focus ~ .elzF-text { color: #3080fe; }

.elzF.parent.valid   .elzF.item ~ .elzF-text, .elzF.parent .elzF.item.valid   ~ .elzF-text, .elzF.text.valid   ~ .elzF-text { color: #4caf50; }
.elzF.parent.invalid .elzF.item ~ .elzF-text, .elzF.parent .elzF.item.invalid ~ .elzF-text, .elzF.text.invalid ~ .elzF-text { color: #ff1800; }

/* end */